In [1]:
# import libraries

import pandas as pd

In [2]:
# Load the data 

customers_df = pd.read_csv('Customers.csv')
products_df = pd.read_csv('Products.csv')
transactions_df = pd.read_csv('Transactions.csv')

In [3]:
# Inspect first few rows of all datasets

In [4]:
print(customers_df.head())   # first 5 rows of customer dataset

  CustomerID        CustomerName         Region  SignupDate
0      C0001    Lawrence Carroll  South America  2022-07-10
1      C0002      Elizabeth Lutz           Asia  2022-02-13
2      C0003      Michael Rivera  South America  2024-03-07
3      C0004  Kathleen Rodriguez  South America  2022-10-09
4      C0005         Laura Weber           Asia  2022-08-15

In [5]:
print(products_df.head())     # first 5 rows of products dataset

  ProductID              ProductName     Category   Price
0      P001     ActiveWear Biography        Books  169.30
1      P002    ActiveWear Smartwatch  Electronics  346.30
2      P003  ComfortLiving Biography        Books   44.12
3      P004            BookWorld Rug   Home Decor   95.69
4      P005          TechPro T-Shirt     Clothing  429.31

In [6]:
print(transactions_df.head())  # first 5 rows of transaction dataset

  TransactionID CustomerID ProductID      TransactionDate  Quantity  \
0        T00001      C0199      P067  2024-08-25 12:38:23         1
1        T00112      C0146      P067  2024-05-27 22:23:54         1
2        T00166      C0127      P067  2024-04-25 07:38:55         1
3        T00272      C0087      P067  2024-03-26 22:55:37         2
4        T00363      C0070      P067  2024-03-21 15:10:10         3

   TotalValue   Price
0      300.68  300.68
1      300.68  300.68
2      300.68  300.68
3      601.36  300.68
4      902.04  300.68

In [7]:
print(customers_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    200 non-null    object
 1   CustomerName  200 non-null    object
 2   Region        200 non-null    object
 3   SignupDate    200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB
None

In [8]:
print(products_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    100 non-null    object
 1   ProductName  100 non-null    object
 2   Category     100 non-null    object
 3   Price        100 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB
None

In [9]:
print(transactions_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    1000 non-null   object
 1   CustomerID       1000 non-null   object
 2   ProductID        1000 non-null   object
 3   TransactionDate  1000 non-null   object
 4   Quantity         1000 non-null   int64
 5   TotalValue       1000 non-null   float64
 6   Price            1000 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 54.8+ KB
None

In [10]:
# EDA : Exploratory Data Analysis

# Basic statistics for data distribution

In [11]:
print(customers_df.describe())

       CustomerID      CustomerName         Region  SignupDate
count         200               200            200         200
unique        200               200              4         179
top         C0001  Lawrence Carroll  South America  2024-11-11
freq            1                 1             59           3

In [12]:
print(products_df.describe())

            Price
count  100.000000
mean   267.551700
std    143.219383
min     16.080000
25%    147.767500
50%    292.875000
75%    397.090000
max    497.760000

In [13]:
print(transactions_df.describe())

          Quantity   TotalValue       Price
count  1000.000000  1000.000000  1000.00000
mean      2.537000   689.995560   272.55407
std       1.117981   493.144478   140.73639
min       1.000000    16.080000    16.08000
25%       2.000000   295.295000   147.95000
50%       3.000000   588.880000   299.93000
75%       4.000000  1011.660000   404.40000
max       4.000000  1991.040000   497.76000

In [14]:
# Check for missing values & make count of null values

In [15]:
print(customers_df.isnull().sum())

CustomerID      0
CustomerName    0
Region          0
SignupDate      0
dtype: int64

In [16]:
print(products_df.isnull().sum())

ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64

In [17]:
print(transactions_df.isnull().sum())

TransactionID      0
CustomerID         0
ProductID          0
TransactionDate    0
Quantity           0
TotalValue         0
Price              0
dtype: int64

In [18]:
# Merge DataFrames: 
# It will include information from all three original Dataframe based on matching CustomerID and ProductID

merged_df = transactions_df.merge(customers_df, on='CustomerID').merge(products_df, on='ProductID')
print(merged_df.head())

  TransactionID CustomerID ProductID      TransactionDate  Quantity  \
0        T00001      C0199      P067  2024-08-25 12:38:23         1
1        T00112      C0146      P067  2024-05-27 22:23:54         1
2        T00166      C0127      P067  2024-04-25 07:38:55         1
3        T00272      C0087      P067  2024-03-26 22:55:37         2
4        T00363      C0070      P067  2024-03-21 15:10:10         3

   TotalValue  Price_x     CustomerName         Region  SignupDate  \
0      300.68   300.68   Andrea Jenkins         Europe  2022-12-03
1      300.68   300.68  Brittany Harvey           Asia  2024-09-04
2      300.68   300.68  Kathryn Stevens         Europe  2024-04-04
3      601.36   300.68  Travis Campbell  South America  2024-04-11
4      902.04   300.68    Timothy Perez         Europe  2022-03-15

                       ProductName     Category  Price_y
0  ComfortLiving Bluetooth Speaker  Electronics   300.68
1  ComfortLiving Bluetooth Speaker  Electronics   300.68
2  ComfortLiving Bluetooth Speaker  Electronics   300.68
3  ComfortLiving Bluetooth Speaker  Electronics   300.68
4  ComfortLiving Bluetooth Speaker  Electronics   300.68

In [19]:
# Distribution of customers on the basis of region
print(customers_df['Region'].value_counts())

Region
South America    59
Europe           50
North America    46
Asia             45
Name: count, dtype: int64

In [20]:
# Distribution of product categories
print(products_df['Category'].value_counts())

Category
Books          26
Electronics    26
Clothing       25
Home Decor     23
Name: count, dtype: int64

In [21]:
# Transaction patterns
print(transactions_df['TransactionDate'].value_counts())

TransactionDate
2024-08-25 12:38:23    1
2024-01-03 04:06:49    1
2024-10-08 23:58:14    1
2024-04-30 17:03:34    1
2024-03-23 00:07:54    1
                      ..
2024-01-13 10:46:55    1
2024-01-12 17:34:27    1
2024-07-30 11:43:57    1
2024-11-08 12:43:10    1
2024-04-21 10:52:24    1
Name: count, Length: 1000, dtype: int64

In [22]:
# Total sales for each product in Descending order

total_sales_per_product = merged_df.groupby('ProductName')['TotalValue'].sum().sort_values(ascending=False)
print(total_sales_per_product)

ProductName
ActiveWear Smartwatch          39096.97
SoundWave Headphones           25211.64
SoundWave Novel                24507.90
ActiveWear Jacket              22712.56
ActiveWear Rug                 22314.43
                                 ...
ComfortLiving Desk Lamp         1694.16
SoundWave Bluetooth Speaker     1223.22
ComfortLiving Rug               1063.81
ActiveWear T-Shirt               795.34
ComfortLiving Laptop             647.76
Name: TotalValue, Length: 66, dtype: float64

In [23]:
# Total sales for each region
total_sales_per_region = merged_df.groupby('Region')['TotalValue'].sum().sort_values(ascending=False)
print(total_sales_per_region)

Region
South America    219352.56
Europe           166254.63
North America    152313.40
Asia             152074.97
Name: TotalValue, dtype: float64

In [24]:
# Analyze trends in Customer signup over time
customer_signup_trend = customers_df['SignupDate'].value_counts().sort_index()
print(customer_signup_trend)

SignupDate
2022-01-22    1
2022-02-02    1
2022-02-10    1
2022-02-13    2
2022-02-19    1
             ..
2024-11-13    2
2024-11-15    1
2024-11-18    1
2024-11-22    2
2024-12-28    1
Name: count, Length: 179, dtype: int64